* {
	margin: 0;
	padding: 0;
	webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}



body {
	height: 100vh;
	width: 100vw;
	background-color: black;
	color: white;
	padding: 15px;
	font-family: monospace;
	font-size: 20px;

}

a {
	color: white;
	text-decoration: none;
}

p {
	display: inline;
}

p#ps {
	display: inline;
}

#bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: #383838;
  text-align: center;
  font-size: 16px;
  padding-top: 6px; 
}

#term-title {
  position: relative;
  width: 40vw;
  height: 10vh;
  margin: auto;
  text-align: center;
  vertical-align: center;
  padding-top: 40px;
  /*padding: 10px;*/
}

.btn {
  top: -5px;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  font-size: 28px;
}

.green {
  position: absolute;
  right: 66px;
  color: #00c4ae;
}

.yellow {
  position: absolute;
  right: 36px;
  color: #ffbd44;
}

.red {
  position: absolute;
  right: 6px;
  color: #ff605c;
}


/* BODY */

#content {
  position: absolute;
  top: 40px;
}

#md-place {
  position: absolute;
  top: 100px;
  margin: auto;
  width: 90%;
  padding: 10px;
}

/* LOADER */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 45%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
 
    border: none;
    z-index: 1500;
}

.loading {
 	display: flex;
  	flex-direction: row;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    		transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transition: all 0.3s 0.6s ease-out;
            transition: all 0.3s 0.6s ease-out;

    -webkit-transition: all 0.3s 1s ease-out;
        	transition: all 0.3s 1s ease-out;
}

#loader {
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}

#progressbar {
	display: inline;
}

.progress-bar{
    text-align: center;
    margin: 0px auto;
}
