<!DOCTYPE html>
<html>
<head>
	<meta name="google-site-verification" content="sW748KsFgEpJDeh9-3VlVRi3Y8wj2dREbofxB8rGsys" />
	<meta charset="utf-8">
	<title>/home/twachowski/CTFwriteups</title>
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/markdown.css">
</head>
<body>
	<div id="content">
		<p id="helpline"> <b>
			<a href="https://qualorm.github.io">/home</a>
			<a href="../">go_up</a>
		</b></p>
		<p id="terminal"></p>
	</div>

	<div id="md-place">
		{{content}}
	</div>

	<script src="{{site.baseurl}}/js/main.js"></script>
	<!--<script src="js/ascii-progress.js"></script>-->
	<script src="{{site.baseurl}}/js/demo.js"></script>

</body>
</html>
