<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{site.baseurl}}/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="sW748KsFgEpJDeh9-3VlVRi3Y8wj2dREbofxB8rGsys" />
    <title>/home/twachowski{{site.baseurl}}/{{page.id}}</title>
</head>
<body>
    <div id="navbar">
		<p class="helpline"> <b>
			<a href="{{site.url}}"> /home</a>
			<a href="#"> #top</a>
			<a href="../">  ../up</a>
		</b></p>
	</div>

    <div id="top"><p><span class="ps">/home/twachowski{{ site.baseurl }}/{{ page.url }} # </span> ls </p></div>    
    <div id="content">
        <div id="md-place">
            {{content}}
        </div>
    </div>
</body>

</html>